#login-buttons {
  padding-top: 140px;
  transform: translateX(25%);
}
#venue-form {
  transform: translateX(20%);
}
#delete-prompt {
  padding-top: 140px;
  transform: translateX(25%);
}
#venue-del-btn {
  display: inline-block;
  transform: translateX(50%);
}
#del-cancel-btn {
  transform: translateX(75%);
}
#content {
  margin-top: 160px;
}
#search-btn {
  margin-top: 35px;
}
.search-nav {
  margin-top: 20px;
  margin-bottom: 40px;
}
#search-next {
  float: right;
}
.btn {
  cursor: pointer;
}
.form-control {
  max-width: 400px;
}
.venues {
  display: flex;
}
.venues-odd {
  background-color: #efefcd;
}
.save {
  display: inline-block;
  margin-bottom: 60px;
}
.images {
  margin: 10px 15px 10px 0;
}
.search-info {
  flex: 1;
}
.descriptions {
  font-style: italic;
}
nav.navbar a.navbar-brand {
  color: #18d5de;
  font-size: 40px;
}
nav.navbar .btn {
  margin-right: 80px;
  margin-bottom: 15px;
  cursor: pointer;
}
#welcome {
  color: white;
  margin-left: 40px;
}
.input-fields {
  font-size: 18px;
}
#new-venue-btn {
  cursor: pointer;
  margin-top: 20px;
}
#new-venue-form {
  display: inline-block;
}
#venue-flash, .venue-form-btn {
  display: inline-block;
}
#catalog-flash {
  display: inline-block;
  transform: translateY(40%);
}
.divider {
  padding: 20px;
}
#catalog-categories {
  display: inline-block;
  width: 350px;
}
#catalog-categories .list-group-item:hover {
  background-color: #18d5de;
}
#venues-categories {
  display: inline-block;
  width: 350px;
  margin: 30px;
}
#venues-categories .list-group-item:hover {
  background-color: #18d5de;
}
#venues-list {
  display: inline-block;
  vertical-align: top;
  margin: 30px;
}
#venues-list .list-group-item:hover {
  background-color: yellow;
}
.jumbotron {
  display: inline-block;
  transform: translateX(20%);
}
.jumbotron h2 {
  text-align: center;
}
#search-results {
  color: gray;
  margin-bottom: 20px;
}
.search-results-for {
  color: black;
  font-style: italic;
  font-weight: bold;
}

@media (max-width: 768px) {
  #venue-form {
    transform: translateX(0);
  }
}
@media (min-width: 768px) {
  #content {
    margin-top: 120px;
  }
}
@media (min-width: 992px) {
  nav.navbar .btn {
    margin-top: 15px;
  }
  #welcome {
    margin-top: 15px;
    margin-left: 300px;
  }
}
@media (min-width: 1200px) {
  #welcome {
    margin-left: 500px;
  }
}
@media (max-width: 1200px) {
  .jumbotron {
    transform: translateX(0%);
  }
  #catalog-categories, .jumbotron {
    padding: 5px;
    margin: 0px;
  }
}
