{% extends 'main.html' %}
{% from 'macros.html' import display_flash, display_logout %}
{% block title %} Venue Catalog {% endblock %}
{% block content %}

  {% if username %}
    {{display_logout()}}
    <br><br><br>
  {% else %}
    <a href="{{url_for('show_login')}}"> Login </a>
    <br><br><br>
  {% endif %}

  <form action="{{url_for('search', location=location, query=query)}}"
        method='GET'>
      <p>Location:</p>
      <input type='text' size='30' name='location'>
      <p>Query:</p>
      <input type='text' size='30' name='query'>
      <input type='submit' value='Search'>
  </form>

  </p><a href="{{url_for('add_custom_venue')}}"> NEW </a></p>

  {{display_flash()}}

  <br><br><br><br><br>

  {% for category in categories %}
    <a class='categories' href="{{url_for('show_venues',
          category_key=category.key)}}">
      <p> {{category.name}} </p>
    </a>
  {% endfor %}

{% endblock %}
