{% extends 'main.html' %}
{% block title %} Delete Venue {% endblock %}
{% block content %}

  <div id='delete-prompt'>
    <h4>
      You are about to delete
      <a href="{{url_for('show_info', category_key=venue.category_key,
              venue_key=venue.key)}}">
        {{venue.name}}
      </a>
    </h4>

    <div class='divider'></div>

    <div id='venue-del-btn'>
      <form action='' method='POST'>
        <button type='submit' class='btn btn-primary'>Confirm</button>
        <input name='csrf_token' type='hidden' value='{{get_csrf_token()}}'>
      </form>
    </div>

    <a href="{{url_for('show_info', category_key=venue.category_key,
       venue_key=venue.key)}}" id='del-cancel-btn' class='btn btn-secondary'
       role='button'>Cancel</a>
  </div>

{% endblock %}
