{% extends 'main.html' %}
{% block title %} {{venue.name}} {% endblock %}
{% block content %}

  <div class='venues'>
    <div class='images'>
      {% if venue.image %}
        {% if venue.image[:8] == 'https://' %}
          <img src="{{venue['image']}}">
        {% else %}
          <img src="{{url_for('static', filename=venue.image)}}"
               width='300px' height='300px'>
        {% endif %}
      {% else %}
        <img src="{{url_for('static', filename='img/placeholder.png')}}"
                                           alt='Placeholder Image'>
      {% endif %}
    </div>

    <div class='search-info'>
      <h2 class='names'>{{venue.name}}</h2>
      {% if venue.address %}
      <pre class='addresses'>{{venue.address}}</pre>
      {% endif %}
      {% if venue.phone %}
      <pre class='phones'>{{venue.phone}}</pre>
      {% endif %}
      {% if venue.description %}
      <p class='description'>{{venue.description}}</p>
      {% endif %}
    </div>

  </div>

  {% if venue.user_key|authorized %}
    <a href="{{url_for('edit_venue', category_key=venue.category_key, venue_key=venue.key)}}"
       id='edit-venue-btn' class='btn btn-success' role='button'>Edit</a>

    <a href="{{url_for('delete_venue', category_key=venue.category_key, venue_key=venue.key)}}"
       id='del-venue-btn' class='btn btn-danger' role='button'>Delete</a>
  {% endif %}

{% endblock %}
