{% extends 'main.html' %}
{% block title %} Venue Catalog Login {% endblock %}
{% block content %}

<div class='g-signin2'
data-scope='openid profile email'
data-clientid='441640703458-8gb39d0jqjk9s0khrhdfhj8kutnnekpg.apps.googleusercontent.com'
data-accesstype='offline'
data-onsuccess='onSignIn'
data-width='240'>
</div>

  <br><br><br>

  <div class='fb-login-button' data-width='30' data-max-rows='1'
       data-size='large' data-button-type='login_with' data-show-faces='false'
       data-auto-logout-link='false' data-use-continue-as='false'
       scope='public_profile,email' onlogin='sendFacebookToken();'></div>

  <style>
    .g-signin2 {display: none}
    .fb-login-button {display: none}
  </style>

  <br><br><br>

  <button id='logout' onclick='signOut();'> Logout </button>

  <script>
    function sendFacebookToken() {
      $.ajax({
        type: 'POST',
        url: '/fbconnect',
        data: {
          token: FB.getAccessToken(),
          fb_id: FB.getUserID(),
          csrf_token: '{{get_csrf_token()}}'
        },
        success: function(result) {
          $('.fb-login-button').replaceWith('<p>Redirecting...</p>');
          console.log(result);
          setTimeout(function() {
            window.location.href = '/';
          }, 2000);
        }
      });
    }
    function onSignIn(authResult) {
      $.ajax({
        type: 'POST',
        url: '/gconnect',
        data: {
          code: authResult['code'],
          csrf_token: '{{get_csrf_token()}}'
        },
        success: function(result) {
          $('.g-signin2').replaceWith('<p>Redirecting...</p>');
          console.log(result);
          setTimeout(function() {
            window.location.href = '/';
          }, 2000);
        }
      });
    }
    function signOut() {
      var auth = gapi.auth2.getAuthInstance();
      if (auth.isSignedIn.get()) {
        auth.signOut();
        callDisconnect();
      } else {
        FB.getLoginStatus(function(response) {
          if (response.status === 'connected') {
            FB.logout();
            callDisconnect();
          }
        });
      }
    }
    function callDisconnect() {
      $.ajax({
        type: 'GET',
        url: '/disconnect',
        success: function(result) {
          $('#logout').replaceWith('<p>Redirecting...</p>')
          console.log(result);
          setTimeout(function() {
            window.location.href = '/';
          }, 2000);
        }
      });
    }
    setTimeout(function() {
      var auth = gapi.auth2.getAuthInstance();
      if (auth.isSignedIn.get() && !'{{session.user_key}}') {
        auth.signOut();
      }
      // Because the FB login button load speed is considerably slower,
      // a timeout is used to make both buttons display synchronously
      $('.g-signin2').show();
      $('.fb-login-button').show();
    }, 600);
  </script>

{% endblock %}
