{% extends 'main.html' %}
{% block title %} Venue Catalog Login {% endblock %}
{% block content %}

  <div class='g-signin2' data-onsuccess='onSignIn'></div>

  <script>
    function onSignIn(googleUser) {
      var token = googleUser.getAuthResponse().id_token;
      $.ajax({
        type: 'POST',
        url: '/gconnect',
        data: {token: token},
        success: function(result) {
          $('.g-signin2').replaceWith('<p>Redirecting...</p>')
          console.log(result);
          setTimeout(function() {
            window.location.href = '/';
          }, 2000);
        }
      });
    }
  </script>

{% endblock %}
