{% macro display_flash() %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
      {% for msg in messages %}
        <li><strong> {{msg}} </strong></li>
      {% endfor %}
     </ul>
    {% endif %}
  {% endwith %}
{% endmacro %}

{% macro display_logout() %}
  <div class='g-signin2' data-onsuccess='onSignIn'></div>
  <button id='logout' onclick='signOut();'> Logout </button>

  <div hidden class='fb-login-button' data-width='30' data-max-rows='1'
       data-size='large' data-button-type='login_with' data-show-faces='false'
       data-auto-logout-link='false' data-use-continue-as='false'
       scope='public_profile,email' onlogin='sendFacebookToken();'></div>

       <style>
         .g-signin2 {display: none}
         .fb-login-button {display: none}
       </style>

  <script>
    function signOut() {
      var auth = gapi.auth2.getAuthInstance();
      if (auth.isSignedIn.get()) {
        auth.signOut();
        callDisconnect();
      } else {
        FB.getLoginStatus(function(response) {
          if (response.status === 'connected') {
            FB.logout();
            callDisconnect();
          }
        });
      }
    }
    function callDisconnect() {
      $.ajax({
        type: 'GET',
        url: '/disconnect',
        success: function(result) {
          $('#logout').replaceWith('<p>Redirecting...</p>')
          console.log(result);
          setTimeout(function() {
            window.location.href = '/';
          }, 2000);
        }
      });
    }
  </script>
{% endmacro %}
