<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>
      {% block title %}{% endblock %}
    </title>
    <meta name='google-signin-scope' content='profile email'>
    <meta name='google-signin-client_id' content='441640703458-8gb39d0jqjk9s0khrhdfhj8kutnnekpg.apps.googleusercontent.com'>
    <link rel='stylesheet' type='text/css'
          href="{{url_for('static', filename='css/main.css')}}">
    <script src='https://apis.google.com/js/platform.js' async defer></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    {% block scripts %}{% endblock %}
  </head>
  <body>
    <div class='container'>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
