{% extends 'main.html' %}
{% block title %} Hello {% endblock %}
{% block content %}

  {% for category in categories %}
    <p>
      <a class='categories' href="{{url_for('show_venues',
            category_key=category.key)}}">
        {{category.name}}
      </a>
    </p>
  {% endfor %}

  <br><br><br><br><br>

  {% for venue in venues %}
    <p>
      <a class='venues' href="{{url_for('show_info',
            category_key=venue.category_key, venue_key=venue.key)}}">
        {{venue.name}}
      </a>
    </p>
  {% endfor %}

  <br><br><br><br><br><br>

  <a href="{{url_for('show_catalog')}}"> Back to Main </a>

{% endblock %}
