{% extends 'main.html' %}
{% from 'macros.html' import display_flash %}
{% block title %} New Venue {% endblock %}
{% block content %}

  <div class='divider'></div>

  <form id='venue-form' action='' method='POST' enctype='multipart/form-data'>

    <div class='form-group'>
      <input hidden type='file' name='image' class='file'>
      <div class='input-group col-xs-12'>
        <input type='text' class='form-control input-lg' disabled placeholder='Upload Image'>
        <span class='input-group-btn'>
          <button class='browse btn btn-primary input-lg' type='button'>Browse</button>
        </span>
      </div>
    </div>

    {% set info = ['category', 'name', 'address', 'phone', 'description'] %}
    {% for index in info %}

      <div class='form-group'>
        <label class='input-fields' for='location'>{{index|capitalize}}</label>
        <input class='form-control form-control-md' type='text'
               name='{{index}}'

        {% block value scoped %}
          {% if venue|default(false) and venue[index] %}
              value='{{venue[index]}}'
          {% endif %}
        {% endblock %} >

      </div>

    {% endfor %}

    <button id='venue-form-btn' type='submit' class='btn btn-primary'>Submit</button>
    <div id='venue-flash'>{{display_flash()}}</div>
    <input name='csrf_token' type='hidden' value='{{get_csrf_token()}}'>

  </form>

  <script>
    // Credit to Christophor Wilson for the following script that changes
    // the text inside the image uplaod form field to match the file name
    // https://codepen.io/CSWApps/pen/GKtvH
    $(document).on('click', '.browse', function() {
      var file = $(this).parent().parent().parent().find('.file');
      file.trigger('click');
    });
    $(document).on('change', '.file', function() {
      $(this).parent().find('.form-control').val($(this).val().replace(/C:\\fakepath\\/i, ''));
    });
  </script>

{% endblock %}
